---
import Layout from "~/components/Layout.astro";
import DarComponent from "~/components/showcase.astro";
---

<Layout title="O que tenho a Dar - Cenáculo Núcleo Este" description="As minhas qualidades e contribuições">
  <div class="space-y-24 px-8 py-16">
    <DarComponent />
  </div>
</Layout> 