---
import Layout from "~/components/Layout.astro";
---

<Layout title="Departamentos - Cenáculo Núcleo Este" description="O que faz cada departamento">
  <div class="space-y-24 px-8 py-16">
    Departamentos
  </div>
</Layout> 