---
import Layout from "~/components/Layout.astro";
import Objetivos from "~/components/este.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";

const description = "Cenáculo Núcleo Este";
---

<Layout title="Cenáculo Núcleo Este" description={description}>
  <div class="relative -mt-20">
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Objetivos />
    </div>
  </div>
</Layout>
