---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="E no Núcleo Este?" id="objetivos">
  <Fragment slot="lead">
    Mais do que uma definição teórica,a definição mais usada é <span class="text-primary"> "Cenáculo é Amor"</span>.
    <span class="text-primary">Cenáculo</span> não se consegue explicar, tem de se <span class="text-primary">viver para sentir</span>.
    <br />
    No Núcleo Este, o primeiro <span class="text-primary">Ciclo de Cenáculo</span> aconteceu em 2011, estando atualmente
    no seu <span class="text-primary">XVI Ciclo</span>.
    <span class="text-primary">Viver Cenáculo</span> é saber o que significa <span class="text-primary">viver a IV </span> e 
    ser <span class="text-primary">Caminheiro</span>.
  </Fragment>
  <div class="grid grid-cols-4 md:grid-cols-4 gap-2">
    <a
      href="https://www.instagram.com/cenaculo_nucleo_este/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">XVI Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/DIB2dc6tg7R/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">XV Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/C9ne3xqqTGa/?img_index=1"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">XIV Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/reel/ChvYXT5KBSq/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">XIII Ciclo</span>
    </a> 
    <a
      href="https://www.instagram.com/reel/CS7oildnJZE/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">XII Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/reel/CCrBR1WB4L2/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">XI Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/B95LIKuBvc9/?img_index=1"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">X Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/Bu7OJMShrIx/?img_index=1"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">IX Ciclo</span>
    </a>
    <a
      href="https://www.facebook.com/photo/?fbid=1448270845296371&set=a.783639955092800"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">VIII Ciclo</span>
    </a>
    <a
      href="https://www.facebook.com/media/set/?set=a.1121553691301423&type=3&rdid=Kf8AfCsWeKUwYvHJ&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F19Hu88rzGv%2F"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">VII Ciclo</span>
    </a>
    <a
      href="https://www.facebook.com/media/set/?set=a.846533438803451&type=3&rdid=kO7OfC67FnBDyXOh&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1F1zYB7nyt%2F"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">VI Ciclo</span>
    </a>
    <a
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">V Ciclo</span>
    </a>
    <a
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
      href="https://www.facebook.com/permalink.php?story_fbid=pfbid029phG7FnHqHV3z2g2QeCttJCXeMa4r3pNu3mnTRwdYT1hn9MRaVQNiRuvkzPAVGDql&id=100064203594532&rdid=0hSteZxWirYRfxgm"
    >
      <span class="font-bold">IV Ciclo</span>
    </a>
    <a
      href="https://www.facebook.com/media/set/?set=a.846533438803451&type=3&rdid=kO7OfC67FnBDyXOh&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1F1zYB7nyt%2F"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">III Ciclo</span>
    </a>
    <a
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
      href="https://www.facebook.com/media/set/?set=a.278945482228919&type=3&rdid=OxqdRXYWy2YXzTgK&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F19CN2fmqCL%2F"
    >
      <span class="font-bold">II Ciclo</span>
    </a>
    <a
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
      href="https://www.facebook.com/media/set/?set=a.111216222286257&type=3&rdid=EYtDl0Hct7crR7Vz&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1AcBsrS5om"
    >
      <span class="font-bold">I Ciclo</span>
    </a>
  </div>
</ContentSection>
