---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="E no Núcleo Este?" id="objetivos">
  <Fragment slot="lead">
    Mais do que uma definição teórica,a definição mais usada é <span class="text-primary"> "Cenáculo é Amor"</span>.
    No Núcleo Este, o primeiro <span class="text-primary">Ciclo de Cenáculo</span> aconteceu em 2009, estando atualmente
    no seu <span class="text-primary">XVI Ciclo</span>.
  </Fragment>
  <div class="grid grid-cols-4 md:grid-cols-4 gap-2">
    <a
      href="https://www.instagram.com/cenaculo_nucleo_este/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">XVI Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/reel/DHGvAoFt4bJ/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">XV Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/C0SPUzVLAgj/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">XIV Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/reel/ChvYXT5KBSq/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">XIII Ciclo</span>
    </a> 
    <a
      href="https://www.instagram.com/reel/CS7oildnJZE/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">XII Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/reel/CCrBR1WB4L2/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">XI Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/B5jGAKKhPqG/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">X Ciclo</span>
    </a>
    <a
      href="https://www.instagram.com/p/BoSYtqgAVo5/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-primary px-6 py-4 text-white hover:bg-default hover:text-primary transition-colors"
    >
      <span class="font-bold">IX Ciclo</span>
    </a> 
  </div>
</ContentSection>
