---
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://www.instagram.com/cenaculo_nucleo_este/",
    description: "Instagram",
    icon: "fab fa-instagram",
  },
  {
    url: "https://www.youtube.com/channel/UCdfDCzbeJau4HoDpSLL8TSQ",
    description: "YouTube",
    icon: "fab fa-youtube",
  },
  {
    url: "mailto:cenaculo.este@escutismo.pt",
    description: "Email",
    icon: "fas fa-envelope",
  },
  {
    url: "https://www.facebook.com/profile.php?id=100064203594532",
    description: "Facebook",
    icon: "fab fa-facebook",
  },
];
---

<footer class="relative flex h-32 items-center justify-center bg-default border-t-2 border-opacity-20 border-secondary">
  <ul class="flex flex-row gap-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center p-4 text-text hover:text-primary transition-colors duration-300"
            href={link.url}
            target={link.url.startsWith('mailto:') ? undefined : '_blank'}
            rel={link.url.startsWith('mailto:') ? undefined : 'noopener noreferrer'}
          >
            <span class="sr-only">{link.description}</span>
            <i class={`${link.icon} text-2xl`}></i>
          </a>
        </li>
      ))
    }
  </ul>
</footer>
