---
import Icon from "~/components/Icon.astro";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="O que é o Cenáculo?" id="intro">
  <Fragment slot="lead">
    O <span class="text-primary">Cenáculo</span>  é uma  
    ferramenta educativa do <span class="text-primary">Corpo Nacional de Escutas (CNE)</span>,
    criada em 2001 pela então SNIV (Secretaria Nacional da IV Secção). 
    Consiste num <span class="text-primary">fórum de Caminheiros para Caminheiros</span>, 
    com função consultiva, onde se pretende criar um <span class="text-primary">espaço de debate</span>
    de temas de interesse para os <span class="text-primary">jovens adultos</span> da <span class="text-primary">IV Secção</span>.
  </Fragment>
  <div class="">
    <a
      href="https://cenaculo.escutismo.pt/"
      class="flex flex-col items-center justify-center gap-1 border-2 border-primary bg-default px-6 py-4 text-primary hover:bg-primary hover:text-white transition-colors"
    >
      <span class="font-bold">Site Oficial</span>
      <span>Cenáculo Nacional</span>
    </a>
  </div>
</ContentSection>
